/* header */
#header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 30px;
    height: 80px;
    border-bottom: 1px solid #dbdbdb;
    flex: 0 0 auto;
}

#header .logo {
    font-size: 20px;
    font-weight: 700;
}

#header .gnb ul {
    display: flex;
    gap: 5px;
}

#header .gnb ul li a {
    display: block;
    padding: 0 10px;
}
